
.top{
display: flex;
justify-content: space-between;
margin: 49px;
}

.heading h2{
  display: flex;
  justify-content: center;
  margin: 0px 0px 37px 0px;
  padding: 51PX;
  background-color: #774e77;
  COLOR: white;
  font-weight: 800;
  font-family: serif;
  align-items: center;
  border: 2px solid #a551a7;
}

tbale{
  margin-top: 69px;
}

.top-filter{
  padding: 10px 162px 10px 197px;
  background: #e1e2eb;
  border-radius: 5px;
  border: 2px solid #daccda;
  color: gray;

}
.card{
  width: 27rem;
  display: flex;
  justify-content: center;
  align-items: normal;
}

.card-header{
  background-color: #774e77;
    color: white;
}
h6{
  font-size: smaller;
}

.pagination{
  background-color: transparent;
  margin: 16px 0px 12px 0px;
  justify-content: space-between;
}
button{
  padding: 8px 40px 8px 40px;
  background: #755175d9;
  border: 2px solid #ffffff00;
  border-radius: 10px;
  color: white;
}

@media (max-width: 768px) {
  .top{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-filter{
    padding: 10px 100px 10px 100px;
    margin: 0em 0em 1em 0em;
    width: 24em;
  }
  .heading h2{
    width: 112%;
  }
}