.navbar{
    margin: auto;
    padding: 13px 47px 2px 50px;
     background: #512350ab;
}

.right ul li {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
}
.right ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    font-family: serif;
    cursor: pointer;
    border-radius: 12px;
    padding: 3px 28px 3px 28px;
}
.right ul li a:hover{
    background: darkgrey;
}