
.container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: 6rem 2rem;
    background: #774e77;
    border-radius: 221px 0px 221px 0px;
    max-width: 1000px;
    align-items: center;
    color: white;
}

@media (max-width: 768px) {
    .container {
        margin: 3rem 1rem;
        padding: 2rem 1rem;
        border-radius: 114px 0px 114px 0px;
    }
}

.heading {
    text-align: center;
}

.userInput {
    width: 100%;
}

.userInput input, .userInput select {
    width: 100%;
    box-sizing: border-box;
    font-family: serif;
    line-height: inherit;
    padding: 0.5em;
    margin-bottom: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 768px) {
    .input {
        margin: 10px 0;
    }
}

.btn {
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 29px;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .btn {
        width: 100%;
        text-align: center;
    }
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}
