
    <!-- <div class="names">
      <div class="name" *ngFor="let item of users" (click)="displayChart(item.id)">{{item.name}}</div>
    </div> -->
    <div class="chartComponent container mt-4">
      <div class="row row-1">
        <div class="col-12">
          <h5 class="text-center m-4">User List</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 names">
          <div class="name btn m-2" *ngFor="let item of users" (click)="displayChart(item.id)">
            {{ item.name }}
          </div>
        </div>
      </div>
   
    
<div class="chart">
    <h2 id="chartHeading">{{chartHeading}}</h2>
    <canvas #barCanvas></canvas>
  </div>
   </div>
  
      

  